<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book to library</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Books Finder</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/books}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/about}">About Us</a>
            </li>
        </ul>
        <a class="btn btn-success mx-2" th:href="@{/admin}">Admin Dashboard</a>
    </div>
</nav>
<main>
    <div class="centred-container container mt-5">
        <form action="#" th:action="@{/admin/book/removefromlib}" th:object="${formData}" method="post">
            <div class="form-group">
                <label for="bookId">Name:</label>
                <input readonly type="number" class="form-control" id="bookId" placeholder="Id" th:field="*{book_id}">
            </div>
            <select th:field="*{library_id}" class="form-control" required>
                <option th:each="library: ${libraries}" th:value="${library.id}" th:text="${library.name}"></option>
            </select>
            <button type="submit" class="btn btn-primary my-2">Remove From Library</button>
        </form>
    </div>
</main>
</body>
</html>