<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Books Finder</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/books}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/about}">About Us</a>
            </li>
        </ul>
        <div class="">
            <a class="btn btn-success mx-2" th:href="@{/admin}">Admin Dashboard</a>
        </div>
    </div>
</nav>
<main>
    <div class="container">
        <h1 class="mt-4">Add Books</h1>
        <form action="#" th:action="@{/admin/book}" th:object="${book}" method="post">
            <div class="form-group">
                <label for="bookName">Name:</label>
                <input type="text" class="form-control" id="bookName" placeholder="Name" required th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="bookDescription">Description:</label>
                <input type="text" class="form-control" id="bookDescription" placeholder="Description" required
                       th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="bookAuthor">Author:</label>
                <input type="text" class="form-control" id="bookAuthor" placeholder="Author" th:field="*{author}"
                       required>
            </div>
            <div class="form-group">
                <label for="bookImg">Author:</label>
                <input type="text" class="form-control" id="bookImg" placeholder="Image Url" th:field="*{imgUrl}"
                       required>
            </div>
            <button type="submit" class="btn btn-primary my-2">Add Book</button>
        </form>
    </div>
</main>
</body>
</html>