<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">Books Finder</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/books}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/libraries}">Libraries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/cities}">Cities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" th:href="@{/about}">About Us</a>
            </li>
        </ul>
        <a class="btn btn-success mx-2" th:href="@{/admin}">Admin Dashboard</a>
    </div>
</nav>
<main>
    <div class="dash-container">
        <a class="btn dash-btn btn-primary btn-lg" th:href="@{/admin/city}">Add City</a>
        <a class="btn dash-btn btn-primary btn-lg" th:href="@{/admin/library}">Add Library</a>
        <a class="btn dash-btn btn-primary btn-lg" th:href="@{/admin/book}">Add Book</a>
        <a class="btn dash-btn btn-primary btn-lg" th:href="@{/admin/booksmanager}">Manage Books</a>
    </div>

</main>
</body>
</html>