<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Library</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">Books Finder</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" th:href="@{/books}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" th:href="@{/libraries}">Libraries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" th:href="@{/cities}">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" th:href="@{/about}">About Us</a>
      </li>
    </ul>
    <div class="">
      <a class="btn btn-success mx-2" th:href="@{/admin}">Admin Dashboard</a>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <h1 class="mt-4">Add City</h1>
    <form action="#" th:action="@{/admin/library}" th:object="${library}" method="post">
      <div class="form-group">
        <label for="libraryName">Name:</label>
        <input type="text" class="form-control" id="libraryName" placeholder="Name" th:field="*{name}">
      </div>
      <div class="form-group">
        <label for="libraryLocation">Location:</label>
        <input type="text" class="form-control" id="libraryLocation" placeholder="Location" th:field="*{location}">
      </div>
      <select th:field="*{city}" class="form-control">
        <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
      </select>
      <button type="submit" class="btn btn-primary my-2">Add Library</button>
    </form>
  </div>
</main>
</body>
</html>