
.dash-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dash-btn {
    font-size: large;
    margin: 1rem;
    width: 30%;
    line-height: 6rem;
}